html {
    height: 100%;
}


body {
    background-image: linear-gradient(45deg, #93d0ec,#6bb7da, #5dc1f0, #e2dcb6, #D7BEA8, #dab98b, #daa97c);
    background-size: 500%;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    animation: colorChange 30s infinite alternate;
}

.background{
    background-image:  url("image/practice2-bg.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    position: relative;
}



@keyframes colorChange {
    0% {
        background-position: left;
    }
    100%{
        background-position: right;
    }
}



*{
    font-family: 'Poppins', sans-serif;
}

form{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
}

.txt{
    text-align: center;
    margin: 0 10px;
    
}

p{
    font-weight: 500;
    max-width: 80%;
    text-align: center;
    min-height: 20%;
    display: flex;
    align-items: center;
}


.home{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 20px;
    z-index: 1;
    text-decoration: none;
    color: #422800;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.deco{
    width: 6.5vw;
    min-width: 100px;
    z-index: 1;
} 

.deco:hover {
    width: 7vw;
}

.activity, .guessAge{
    background: #e2dcb6;
    width: 35%;
    max-width: 550px;
    height: 35%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}


h2{
    color: #382018;
    margin: 0;
}

.btn{
    background-color: #fbeee0;
    border: 2px solid #5c3223;
    border-radius: 30px;
    color: #552c1d;
    box-shadow: #5c3223 4px 4px 0 0;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    padding: 0 15px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media screen and (max-width: 920px) and (max-height: 1380px){
    .background{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-position: 20%;
    }
    
    .activity, .guessAge{
        width: 60%;
        height: 25%;
        min-width: 240px;
        min-height: 150px;
    }

}


@media (max-width:540px) and (max-height:920px){
    h2{
        font-size: 1.2em;
    }

    form{
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }

    .showAge{
        min-height: auto;
    }

    p{
        font-size: 12px;
    }

    .btn{
        font-size: 10px;
        line-height: 20px;
        padding: 0 10px;
        box-shadow: #5c3223 2px 2px 0 0;
    }

    .txt{
        font-size: 10px;
        width: 55%;
    }

    .home{
        font-size: 1em;
        left: 70%;
        text-align: center;
    }
    .deco{
        width: 15vw;
        min-width: auto;
    }

    .background{
        background-position: 80%;
    }


}