html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 800px;
    background-image: url("image/indexBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}

*{
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 10% 0 5% 0;
font-size: 50px;
}

.links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.links a:hover{
    color: red;
}


.links a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;

}

.flower{
    width: 100px;
    margin-bottom: 20%;
}

.flower:hover {
    width: 120px;
    margin-bottom: 20%;
}