html {
    width: 100%;
    height: 100%;
}

*{
    font-family: 'Poppins', sans-serif;
    
}

body {
    background-image: linear-gradient(45deg, #3fa7d6, #D7BEA8, #dab98b, #91aa7d);
    width: 100%;
    height: 100%;
    background-size: 500%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: colorChange 25s infinite alternate;
    position: relative;

}

@keyframes colorChange {
    0% {
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

.light{
    position: absolute;
    top: 0px;
    width: 50vw;
    left: 27%;
}

.home{
    position: absolute;
    bottom: 50px;
    left: 34%;
    font-size: 1em;
    z-index: 1;
    text-decoration: none;
    color: #422800;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.deco{
    width: 6.5vw;
    max-width: 180px;
    z-index: 1;
} 

.deco:hover {
    width: 7vw;
}


.heggi{
    position: absolute;
    width: 7vw;
    max-width: 120px;
    z-index: 1;
    bottom: 50px;
    left: 28%;
}

.heggi:hover{
    transform: rotate(10deg);
}

.counterApp h2{
    color: #FFF;
    text-shadow:#422800 0.1em 0.1em 0.2em;
}

.main{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.counterApp{
    position: absolute;
    top: 15%;
    width: 40%;
    height: 40%;
    margin-left: 3%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-image: url("image/blackboard.svg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    
}

.todoList{
    padding: 10px 30px;
    margin: 0;
    width: 18%;
    max-width: 260px;
    max-height: 86%;
    min-height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translate(0, -50%);
    background: #E8DB84;
    z-index: 7;
}

.todoList h2{
    margin: 6% 0 5% 0;
    color: #4d3f36;
    z-index: 2;
    
}

.form{
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.list {
    margin-top:5%;
}

.line{
    position: absolute;
    top: 30px;
    max-width: 100%;
}

ul {
    margin: 5% 0 12% 0;
    padding: 0;
    position: relative;
}


li {
    list-style: none;
    display: flex;
    margin-bottom: 6%;
    align-items: center;
    justify-content: space-between;
}


h3 {
    margin-top: 30px;
}


.counter {
    text-align: center;
    width: 80px;
    line-height: 25px;
    margin: 0 20px;
    border: 2px solid #FFF;
    border-radius: 5px;
    text-shadow:#422800 0.1em 0.1em 0.2em;
}

.txt{
    text-align: center;
    width: 60%;
    font-size: 10%;
    margin: 0 5px;
    border: 2px solid #000;
    border-radius: 5px;
}

.btn.addTodoBtn{
    font-size: 10%;

}

.main .btn{
    box-shadow: #42280098 4px 4px 0 0;
    width: 50px;
}

.btn{
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    color: #422800;
    box-shadow: #422800 4px 4px 0 0;
    display: inline-block;
    font-weight: 600;
    font-size: 1em;
    padding: 0 15px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:active ,.reset:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

.delete{
    font-size: 0.5em;
    line-height: 2em;
    box-shadow: #4e3a1b88 1.5px 1.5px 0 0;
    color: #4e3a1b;
    padding: 0 11px;
    font-weight: 600;
}

.reset{
    margin:25px 0px 10px 0px;
    width: 60px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    box-shadow: #42280098 4px 4px 0 0;
    color: #422800;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
}



.checkbox input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox *,
  .checkbox ::after,
  .checkbox ::before {
    box-sizing: border-box;
  }

  .checkbox {
    position: relative;
  }
  .checkbox .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
  }

  .label {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    width: 170px;
    position: relative;
  }

  .checkbox .label svg {
    vertical-align: middle;
  }

  .checkbox span{
    position: absolute;
    left: 35px;
    top: 3px;
  }

  .checkbox .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s all;
  }
  .checkbox .check:checked + label svg g path {
    stroke-dashoffset: 0;
  }

.clock{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 3%;
    bottom: 8vh;
    z-index: 9;
    background-image: url('image/DigitalClock.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 20vw;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.date{
    position: absolute;
    bottom: 80%;
    right: 9%;
    font-size: 1.5vw;
    font-weight: 600;
    color: #422800;
}

.time{
    color: #FFF;
    font-size: 1.6vw;
    position: absolute;
    right: 8%;
    width: 10vw;
    text-align: center;
}


.table{
    position: absolute;
    width: 100%;
    height: 10vh;
    background: #4e3a1b;
    bottom: 0px;
}

.draw{
    width: 18vw;
    position: absolute;
    top: 8%;
    right: 5%;
}

@media screen and (max-width:1280px){
    .clock{
        bottom: 7%;
    }
    .todoList{
        min-height: 480px;
    }
    .todoList span{
        font-size:1em;
    }


}

@media screen and (max-width: 920px) and (max-height: 1380px) {
    body{
        flex-direction: column;
        background-size: auto;
    }
    .light{
        width: 60%;
        transform: none;
        left: auto;
    }
    .draw{
        display: none;
    }
    h2{
        font-size: 4vw;
    }
    .counterApp{
        width: 70vw;
        height: 25vh;
        top: 8%;

    }

    .todoList{
        width: 60%;
        max-width: 300px;
        left: auto;
        top: 40%;
        transform:none;
    }

    .clock{
        display: none;
    }

    .heggi{
        width: 12vw;
        z-index: 10;
        left: 8%;
        bottom: 6%;
    }

    .home{
        bottom: 7%;
        left: 80%;
        z-index: 8;
    }
    
    .deco{
        width: 10vw;
    }
    .table{
        bottom: 0;
    }

}

@media (max-width:540px) and (max-height:920px){
    body{
        height: auto;
        background:#D7BEA8;
        width: 100%;
        background-size: cover;
    }

    .light{
        width: 80%;
        transform: none;
        left: auto;
        height: 30%;
        position: relative;
    }
    .counterApp{
        position: relative;
        width: 90vw;
        margin-bottom:30px;
        height: 30vh;
    }

    .todoList{
        position: relative;
        margin-bottom: 80px;
        transform:none;
        top: auto;
    }
    
    .table{
        position: relative;
    }
    .home{
        bottom: 5%;
        font-size: 10px;
    }
    .heggi,.deco{
        min-width: 70px;
    }

    .txt, .btn.addTodoBtn{
        font-size: 12px;
    }


}
