html {
    height: 100%;
}

*{
    font-family: 'Poppins', sans-serif;;
}

body {
    background-image: linear-gradient(45deg, #3fa7d6, #D7BEA8, #dab98b, #91aa7d);
    background-size: 500%;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    animation: colorChange 25s infinite alternate;
    position: relative;
    min-width: 1280px;
    min-height: 600px;
}

@keyframes colorChange {
    0% {
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

.home{
    position: absolute;
    bottom: 50px;
    left: 500px;
    font-size: 20px;
    z-index: 1;
    text-decoration: none;
    color: #422800;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.deco{
    width: 6.5vw;
    min-width: 100px;
    z-index: 1;
} 

.deco:hover {
    width: 7vw;
}


.heggi{
    position: absolute;
    width: 100px;
    z-index: 1;
    bottom: 50px;
    left: 400px;
}

.heggi:hover{
    transform: rotate(10deg);
}

.counterApp h2{
    margin-top: 15%;
    color: #FFF;
    text-shadow:#422800 0.1em 0.1em 0.2em;
}

.counterApp{
    position: absolute;
    width: 32%;
    height: 40%;
    min-width: 500px;
    min-height: 300px;
    right: 32%;
    top: 20%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #FFF;
    background-image: url("image/blackboard.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.todoList{
    padding: 0;
    margin: 0;
    width: 18%;
    min-width: 300px;
    height: auto;
    min-height: 500px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 6%; 
    top: 6%;
    background: #E8DB84;
}

.todoList h2{
    margin: 8% 0 5% 0;
    color: #4d3f36;
    z-index: 2;
    
}

.form{
    z-index: 2;
}

.list {
    margin-top:5%;
}

.line{
    position: absolute;
    top: 30px;
    max-width: 100%;
}

ul {
    margin: 5% 0 40px 0;
    padding: 0;
    position: relative;
}


li {
    list-style: none;
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start;
    justify-content: space-between;
}


h3 {
    margin-top: 30px;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}


.counter {
    text-align: center;
    width: 80px;
    line-height: 25px;
    margin: 0 20px;
    border: 2px solid #FFF;
    border-radius: 5px;
    text-shadow:#422800 0.1em 0.1em 0.2em;
}

.txt{
    text-align: center;
    width: 60%;
    font-size: 10%;
    margin: 0 10px;
    border: 2px solid #000;
    border-radius: 5px;
}

.btn.addTodoBtn{
    font-size: 10%;
    width: 25%;
}

.main .btn{
    box-shadow: #42280098 4px 4px 0 0;
    width: 50px;
}

.btn{
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    color: #422800;
    box-shadow: #422800 4px 4px 0 0;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    padding: 0 15px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:active ,.reset:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

.delete{
    font-size: 6px;
    line-height: 20px;
    box-shadow: #4e3a1b88 1.5px 1.5px 0 0;
    color: #4e3a1b;
    padding: 0 11px;
    font-weight: 600;
}

.reset{
    margin:25px 0px 10px 0px;
    width: 60px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    box-shadow: #42280098 4px 4px 0 0;
    color: #422800;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
}



.checkbox input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox *,
  .checkbox ::after,
  .checkbox ::before {
    box-sizing: border-box;
  }

  .checkbox {
    position: relative;
  }
  .checkbox .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
  }

  .label {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    width: 170px;
    position: relative;
  }

  .checkbox .label svg {
    vertical-align: middle;
  }

  .checkbox span{
    position: absolute;
    left: 35px;
    top: 3px;
  }

  .checkbox .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s all;
  }
  .checkbox .check:checked + label svg g path {
    stroke-dashoffset: 0;
  }

.date{
    position: absolute;
    bottom: 130px;
    right: 40px;
    font-size: 25px;
    font-weight: 600;
    color: #422800;
}


.digitalClock{
    width: 400px;
    right: -10px;
}

.clock{
    position: absolute;
    right: 30px;
    bottom: 90px;
}

.time{
    color: #FFF;
    position: absolute;
    right: 50px;
    bottom: 55px;
    font-size: 32px;
}


.table{
    position: absolute;
    width: 100%;
    height: 100px;
    background: #4e3a1b;
    bottom: 0px;
}

.draw{
    width: 18vw;
    position: absolute;
    top: 0px;
    right: 80px;
}

